* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container {
  width: 90%;
  margin: auto;
}
body{
  background-color:rgb(224, 213, 235);
}
.title {
  display: inline-block;
  border-bottom: 4px solid rgb(185, 87, 87);
}